{
  "presets": [
    "es2015",
    "react"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre",
        "es2015",
        "react"
      ]
    },
    "test": {
      "plugins": [
        "istanbul"
      ],
      "sourceMaps": "inline"
    }
  }
}
