<html lang="en">
  {{> head subtitle=" - About Us"}}
  <body>
    <header>
      <nav></nav>
    </header>

    <main>
      <div class="container">
        <h2>About The Site</h2>
        <p>The site is aimed at people who use the services of <a href="//www.acecomics.co.uk">Ace Comics</a> to order
        their comic books. Specifically, if for those of us who order from the Previews catalogue and send in a CSV
        order every month.</p>

        <p>Rather than paging through a long list in a text editor or spreadsheet application, this makes it a little
        easier to search for the things you want, as well as double checking by showing you the details from Preview
        itself.</p>

        <p>Using the site is very straightforward and you've probably already worked out that you add things to the
        cart, open the cart, export the order and send it to Ace in the usual way. Please note that you do still have to
        email the file to Ace, the site won't do that for you.</p>

        <h2>Creating An Account</h2>
        <p><b>Important Note:</b> This is entirely separate to any account functionality that might exist on Ace's own
        site. This is purely for the order helper.</p>

        <p>By creating an account you can start adding Saved Searches. With these in place, you can see which ones have
        matches in the current catalogue, hopefully reducing the number of times you miss something. Since I stick to
        TPBs these days, I've also been using it to add searches for collections that I know won't appear for months
        yet.</p>

        <p>I'll probably add new features at some point, but <a href="contact.html">let me know</a> if there's a killer
        feature you'd like.</p>
      </div>
    </main>
    {{> footer}}
  </body>
</html>
