<!DOCTYPE html>
<html lang="en">
  {{> head subtitle=" - Contact Us"}}
  <body>
    <header>
      <nav></nav>
    </header>

    <main>
      <div class="container">
        <h2>Contact Us</h2>
        <p>You can contact me via <a href="mailto:rhendry@googlemail.com">email</a> or over <a
                                     href="https://twitter.com/choobanicus">Twitter</a>. If you're feeling so inclined,
                                   you could even <a href="https://github.com/chooban/react-ace/issues/new">create an
                                     issue</a>.</p>
      </div>
    </main>
    {{> footer}}
  </body>
</html>
