<footer class="container">
  <p>
    <a href="/">Home</a>
    &bull;
    <a href="about.html">About</a>
    &bull;
    <a href="/api/previews/latest.csv">Download CSV</a>
    &bull;
    <a href="privacy.html">Privacy Policy</a>
    &bull;
    <a href="contact.html">Contact Us</a>
  </p>
  <p>All names, trademarks and images are copyright their respective owners.</p>
</footer>
