<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Ace My Order</title>
    <meta name="description" content="Previews Comic Order Helper">
    <meta name="author" content="Ross Hendry">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/fonts/roboto/Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/fonts/roboto/Roboto-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
    <div id="app">
      <header>
        <nav></nav>
      </header>
      <main>
        <div class="container"></div>
      </main>
    </div>
    {{> footer}}

    {{#if htmlWebpackPlugin.options.isProd}}
<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-115531437-1', 'auto');
ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
    {{/if}}
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </body>
</html>
