body {
  margin: 0;
}

nav {
  background: lightblue;
  z-index: -10;
}

nav .nav-wrapper {
  width: 800px;
  margin-left: auto; margin-right: auto;
  display: flex;
  justify-content: flex-end;
}

nav i {
  color: black;
}

nav .ordersummary {
  margin-left: 12px;
}

nav .showhelp {
  margin-right: 12px;
}

nav .accounticon {
  padding-right: 24px;
}

nav .accounticon .submenu {
  background-color: white;
  color: black;
  width: 150px;
  position: absolute;
  top: 45px;
  z-index: 1;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 0 #BEBEBE;
  display: none;
}

nav .accounticon:hover .submenu {
  display: inline-block;
}

.material-icons.click:hover {
  cursor: pointer;
}

nav .accounticon:hover .submenu {
  display: block;
}

.previewsgrid {
  table-layout: fixed;
  width: 100%;
  margin-right: 5px;
}

.previewsgrid th:first-of-type {
  width: 100px;
}

.previewsgrid th:nth-of-type(2) {
  width: 440px;
}

.previewsgrid th:nth-of-type(3) {
  width: 55px;
}

.previewsgrid th:nth-of-type(4) {
  width: 140px;
}

.previewsgrid td:nth-of-type(2),
.previewsgrid td:nth-of-type(4) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.previewsgrid td:nth-of-type(5) {
  margin-left: auto;
}

.previewsgrid tr.saved {
  background-color: #ffe57f;
}

.toggle-order {
  margin-left: 5px;
}

.ordersummary {
  display: inline-block;
}

.ordersummary i::after {
  content: '';
  display: inline-block;
  position: relative;
  top: -15px;
  right: 10px;
  width: 12px;
  height: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background-color: red;
  visibility: hidden;
}

.ordersummary.hasitems i::after {
  visibility: visible;
}

.content {
  width: 800px;
  margin-left: auto; margin-right: auto;
  padding: 8px;
}

.react-datagrid {
  width: 950px;
}

.controlBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.modalcontainer .modal {
  position: fixed;
  top: 0;
  left: 0;
  /*transform: translate(-50%, -50%);*/
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 9999;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.modal .header {
  margin: 3px;
  background-color: lightblue;
  padding-left: 3px;
  font-size: 1.5rem;
}

.modal .contents {
  margin: 3px;
  overflow-y: auto;
  flex-grow: 1;
}

.modal .contents table {
  width: 100%;
}

.modal .contents tr.totals td:first-of-type {
  text-align: right;
  padding-right: 1rem;
}

.modal .contents tr.totals {
  font-weight: bold;
}

.modal .footer {
  margin: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-height: 38px;
}

.item_display {
  display: flex;
  flex-direction: row;
}

.item_display .imagecontainer {
  margin-right: 10px;
}

.item_display .description br {
  line-height: 2rem;
}

.tablecontrols {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}

.tablecontrols a:first-of-type {
  margin-right: 4px;
}

.modal .savedsearches .collection-item {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.modal .savedsearches .collection-item:hover {
  cursor: pointer;
}

.modal .collection-item .material-icons:first-of-type {
  margin: 0 5px 0 5px;
}

.modal .collection-item .primary-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}
