body {
  margin: 0;
}

.previewsApp {
}

.appheader {
  background: lightblue;
}

.appheader .content {
  width: 800px;
  margin-left: auto; margin-right: auto;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}

.appheader .content > div {
  margin: 5px;
}

.gridsearch i {
  margin-right: 5px;
}

.previewsgrid {
  width: 100%;
  margin-right: 5px;
}

.toggle-order {
  margin-left: 5px;
}

.ordersummary {
  display: inline-block;
}

.ordersummary i:hover {
  cursor: pointer;
}

.ordersummary i::after {
  content: '';
  display: inline-block;
  position: relative;
  top: -15px;
  right: 5px;
  width: 12px;
  height: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background-color: red;
  visibility: hidden;
}

.ordersummary i.hasitems::after {
  visibility: visible;
}

.appcontent .content {
  margin-left: auto; margin-right: auto;
  width: 800px;
  padding: 8px;
}

.react-datagrid {
  width: 950px;
}

.controlBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.ordermodal {
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ordermodal .header {
  margin: 3px;
}

.ordermodal .contents {
  margin: 3px;
  flex-grow: 1;
}

.ordermodal .contents table {
  width: 100%;
}

.ordermodal .footer {
  margin: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
